<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
	<head>
		<meta charset="UTF-8">
	    <title>카테고리 선택</title>
		<th:block layout:fragment="css">
	  		<link rel="stylesheet" th:href="@{/css/Ca_Se_In.css}">
	  	</th:block>
	</head>

<body>
      <header></header>
    <main layout:fragment="content">
        <div class="title">
            상품 보기
        </div>
        <hr>

        <!-- 카테고리 선택 영역 -->

        <div id="ca_list">
            <div id="ca_div" th:each="category: ${category}">
                <a id="ca_a" th:href="@{/item/search/{categoryNo} (categoryNo=${category.categoryNo})}"><img id="ca_img"
                 th:src="@{'/images/ca' + ${category.categoryNo} + '.svg'}" th:alt="${category.categoryNm}"
                  th:text="${category.categoryNm}"></a>
            </div>
        </div>
    </main>
 <!--footer-->
 <footer></footer>

</body>

</html>