<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
>
<head>
    <meta charset="UTF-8"/>
    <!-- <link rel="stylesheet" href="css/ress.min.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style_header_footer.css"/>
    <link rel="stylesheet" href="css/_02_myitem_register.css"/>
    <script src="js/bootstrap.bundle.min.js"></script> -->

    <th:block layout:fragment="script">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
        	$(function(){
				$("#itemStPrice").keyup(function(){
					$("#itemBidUnit").val(
						($("#itemStPrice").val()/20)<1000 ? 1000 : Math.round(($("#itemStPrice").val()/20)/1000)*1000
						);
				})
			})
			const onClickInsert = () =>{
			
				$("#modal_itemNm").text($("input[name=itemNm]").val());
				$("#modal_category").text($("select[name=itemCategory] option:selected").text());
				$("#modal_stPrice").text($("input[name=itemStPrice]").val());
				$("#modal_nbPrice").text($("input[name=itemNbPrice]").val());
				$("#modal_term").text($("input[name=term]:checked").parent().text());
				   

				
			}
        </script>
      </th:block>
      <th:block layout:fragment="css">
        <link rel="stylesheet" href="/css/_02_myitem_register.css"/>
      </th:block>
    <title>신규상품등록</title>

</head>
<body>
    <!--header-->
    <header>
    </header>
    <main layout:fragment="content">
        <form action="/item/registerItem" method="post" enctype="multipart/form-data">

        <div id="pageTitle">신규상품등록</div>  
        <hr/>
        <!-- 상단 내용 입력 -->
        <section class="top">
            <!-- section -->
            <!-- 1. 좌상단 이미지 -->
            <article style="margin-left: 60px">
                <!-- article -->
                <div>
                    <!-- div -->
                    <div>
                        <div class="section_upload">
                            <!-- div>div -->
                                <input type="file" id="fileUpload" name="uploadFiles" accept='image/*' style="display: none" multiple="multiple" />
                                <img id="previewImg" width="240px" height="240px" min-width="50%" style="border: 1px solid white" />
                            <label for="fileUpload" style="margin-left: 75px;" ><img id="uploadIcon" src="/images/file_upload.png" width="20px" height="20px" margin="3px" alt="사진 올리기"/>사진 업로드</label>
                        </div>
                        <div id="previewItems" style="border: 1px solid white" class="section_preview">
                        </div>
                    </div>
                    <table>
                        <tr>
                            <td class="bar"><</td>
                            <td class="selected">1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td class="bar">></td>
                        </tr>
                    </table>
                </div>
            </article>

            <!-- 2. 우상단 정보 기입란 -->
            <aside>
                <!-- aside -->
                <div>
                    <!-- div -->
                    <table style="margin: 10px; margin-left: 30px;">
                        <tr>
                            <td class="namecontent">제목</td>
                            <td class="inputcontent"><input type="text" name="itemTitle" required/></td>
                        </tr>
                        <tr>
                            <td class="namecontent">상품명</td>
                            <td class="inputcontent"><input type="text" name="itemNm" required/></td>
                        </tr>
                        <tr>
                            <td class="namecontent">카테고리</td>
                            <td class="inputcontent">
                                <select id="user_path" name="itemCategory">
                                    <option value="1">디지털/가전</option>
                                    <option value="2">가구/인테리어</option>
                                    <option value="3">유아용품</option>
                                    <option value="4">스포츠/레저</option>
                                    <option value="5">여성잡화</option>
                                    <option value="6">여성의류</option>
                                    <option value="7">게임/취미</option>
									<option value="8">뷰티/미용</option>
									<option value="9">반려동물용품</option>
									<option value="10">생활/가공식품</option>
									<option value="11">남성패션/잡화</option>
									<option value="12">도서/음반/티켓</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="namecontent">시작가</td>
                            <td class="inputcontent"><input type="text" id="itemStPrice" name="itemStPrice" maxlength="10" required/></td>
                        </tr>
                        <tr>
                        	<td class="namecontent">입찰 단위</td>
                        	<td class="inputcontent"><input type="text" id="itemBidUnit" name="itemBidUnit" maxlength="10" required/></td>
                        </tr>
                        <tr>
                            <td class="namecontent">즉시 구매가</td>
                            <td class="inputcontent"><input type="text" name="itemNbPrice" maxlength="10"  required/></td>
                        </tr>
                        <tr>
                            <td class="namecontent">경매기간</td>
                            <td class="inputcontent">
								<div>
									<label>
										<input type="radio" name="term" value="1">24시간
									</label>
									<div></div>
									<label>
										<input type="radio" name="term" value="2" checked>48시간
									</label>
									<div></div>
									<label>
										<input type="radio" name="term" value="7">7일
									</label>
								</div>
                            </td>
                        </tr>
                    </table>
                </div>
            </aside>

            <script>

                // 자바스크립트 영역

                function comma(str) {
                    str = String(str);
                    return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
                }

                function uncomma(str) {
                    str = String(str);
                    return str.replace(/[^\d]+/g, '');
                } 
                
                function inputNumberFormat(obj) {
                    obj.value = comma(uncomma(obj.value));
                }
                
                function inputOnlyNumberFormat(obj) {
                    obj.value = onlynumber(uncomma(obj.value));
                }
                
                function onlynumber(str) {
                    str = String(str);
                    return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g,'$1');
                }

                // switch

                let opt_switch2 = true;

                    $(".opt3").click(function () {
                        opt_switch2 = true;
                        toggleSwitch2();
                        console.log(opt_switch2);
                        $("#term").val(1);
                    })

                    $(".opt4").click(function () {
                        opt_switch2 = false;
                        toggleSwitch2();
                        console.log(opt_switch2);
                        $("#term").val(2);
                    })

                    function toggleSwitch2() {
                    if(opt_switch2 == true) {
                        $(".opt3").css("background", "rgb(17, 100, 100)")
                        $(".opt3").css("color", "white")
                        $(".opt4").css("background", "lightgray")
                        $(".opt4").css("color", "black")
                    } else if (opt_switch2 == false) {
                        $(".opt4").css("background", "rgb(17, 100, 100)")
                        $(".opt4").css("color", "white")
                        $(".opt3").css("background", "lightgray")
                        $(".opt3").css("color", "black")
                    }}

                    

                // 파일 업로드
                const fileInput = document.getElementById("fileUpload");

                const handleFiles = (e) => {
						const selectedFile = [...fileInput.files];
						// 객체 선언
						const fileReader = new FileReader();

						fileReader.readAsDataURL(selectedFile[0]);
						

						// 미니뷰에 사진 추가
						fileReader.onload = function () {
							// console.log(fileReader, 'hi~');
							// console.log(document.getElementById("previewImg").src, 'prev');
							if (document.getElementById("previewImg").src) {
								const previewImagesHolder = document.getElementById("previewItems")
								const prevImage = document.createElement("img");
								prevImage.src = fileReader.result;
								const prevImageDiv = document.createElement("div");
								prevImageDiv.className = 'miniview';
								prevImageDiv.append(prevImage);
								previewImagesHolder.append(prevImageDiv)
							}
							document.getElementById("previewImg").src = fileReader.result;
						};
					};

					fileInput.addEventListener("change", handleFiles);

					// .html?key1=value1&key2=value2&
					// submit

					function saveTemp() {
						alert("작성중인 내용이 마이페이지에 저장되었습니다.")
					}
					function registerCompleted() {
						alert("상품등록이 완료되었습니다.")
					}

            </script>


        </section>

        <!-- 하단 세부 내용 입력 -->
        <section class="bottom">
            
            <div class="bottom-up">
                <div></div>
                <div>상세내용기재</div>
                <div></div>
                <div></div>
                <div>
                    <textarea name="itemContent" id="" cols="30" rows="10">

                    </textarea>
                </div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="bottom-down">
                <!-- 투명박스 -->
                <div></div>
                <!-- 제출/임시저장/취소 버튼 -->
                <input class="rebidding blue" value="등록" type="button" data-bs-toggle="modal" data-bs-target="#intro" onClick="onClickInsert()"></input>
                <input value="임시저장" onclick="saveTemp()"></input>
                <a href="_01_item_register_main.html">
                    <input value="취소" type="reset"></input>
                </a>
                
            </div>
            <br/>
            <br/>

            <!-- 재입찰 모달 -->
            <div class="modal fade" id="intro">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">아이폰 12 팝니다!!</h4>
                        </div>
                        <div class="modal-body">
                            <table id="modal_table">
                                <tr>
                                    <td><strong>상품명</strong></td>
                                    <td id="modal_itemNm"></td>
                                </tr>
                                <tr>
                                    <td><strong>카테고리</strong></td>
                                    <td id="modal_category"></td>
                                </tr>
                                <tr>
                                    <td><strong>시작가</strong></td>
                                    <td id="modal_stPrice"></td>
                                </tr>
                                <tr>
                                    <td><strong>즉시구매가</strong></td>
                                    <td id="modal_nbPrice"></td>
                                </tr>
                                <tr>
                                    <td><strong>경매방식</strong></td>
                                    <td>기한입찰</td>
                                </tr>
                                <tr>
                                    <td><strong>경매기간</strong></td>
                                    <td id="modal_term"></td>
                                </tr>
                                <tr>
                                    <td><strong>배송방식</strong></td>
                                    <td>택배배송/직거래</td>
                                </tr>
                            </table>
                            <br/>
                            <p style="color: rgb(18, 100, 100); text-align: center;"><strong>상기 정보로 등록하시겠습니까?</strong></p>
                        </div>
                        <div class="modal-footer">
                            <!-- button이나 div에는 href 속성을 넣을 수 없기 때문에 a태그로 감싸줘야 함 -->
                            <a href="#" onclick="registerCompleted()">
                                <button type="submit" id="rebidding_on" data-bs-dismiss="modal" class="btn btn-primary" style="background-color: rgb(18,100,100)">
                                등록
                                </button>
                            </a>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" style="background-color: lightgray; color: black;">
                                취소
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
    </main>
</body>
    <!--footer-->
    <footer>

</footer>
</html>