<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
>
  <head>
    <meta charset="UTF-8" />
    <!-- <link rel="stylesheet" href="css/ress.min.css" />
      <link rel="stylesheet" href="css/bootstrap.min.css" />
      <script src="js/bootstrap.bundle.min.js"></script>
      <link rel="stylesheet" href="css/style_header_footer.css" />
    <link rel="stylesheet" href="css/_01_item_register_main.css" /> -->
    <th:block layout:fragment="script">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </th:block>
    <th:block layout:fragment="css">
      <link rel="stylesheet" href="/css/_01_item_register_main.css" />
    </th:block>

    <title>상품등록 메인 페이지</title>
  </head>
  <body>
    <!--header-->
    <header></header>

    <main layout:fragment="content">
      <div id="pageTitle">상품등록</div>
      <hr />
      <div class="invisibleDiv">
        <div class="newItem" onclick="">
          <a href="/item/registerItem">+ 신규상품등록</a>
        </div>
      </div>
      <div class="table_header">
        <table>
          <tr>
            <td>이미지</td>
            <td>상품명</td>
            <td class="wide">제목</td>
            <td>수량</td>
            <td class="less_wide">시작가</td>
            <td>경매방식</td>
            <td class="wide">등록일</td>
            <td>상태</td>
            <td class="last"></td>
          </tr>
        </table>
      </div>
      <!-- 아코디언 시작 -->
      <div class="accordion" id="accordionExample">
        <div th:each="item : ${itemList}" class="accordion-item">
          <h2 class="accordion-header" th:id="'heading_'+${item.itemNo}">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              th:data-bs-target="'#collapse'+${item.itemNo}"
              aria-expanded="false"
              th:aria-controls="'collapse'+${item.itemNo}"
            >
              <table>
                <tr>
                  <!-- <tr th:each="item : ${itemList}"> -->
                  <td>
                    <!-- <a th:if="${itemList ne null}" th:id="${item.itemNo}"
                      ><img
                        src="/images/kanu.png"
                        th:src="${itemFile.itemfilePath}"
                    /></a> -->
                    <!-- <div
                      th:if="${itemList ne null}"
                      th:each="file : ${itemFile}"
                      th:remove="tag"
                    > -->
                    <div>
                      <!-- <a
                        th:id="${file.itemfileNo}"
                        th:href="${file.itemfileNm}"
                        th:text="${file.itemfileOrgNm}"
                      ></a>
                      <img th:src="@{/upload} + ${file.itemfileNm}" /> -->
                      <a href=""></a>
                      <img
                        th:if="${item.itemFile ne null}"
                        th:src="@{/upload/} + ${item.itemFile.itemfileNm}"
                      />
                      <img
                        th:if="${item.itemFile eq null}"
                        th:src="@{/upload/noimg.png}"
                      />
                      <br />
                    </div>
                  </td>
                  <td th:text="${item.itemNm}">-</td>
                  <td th:text="${item.itemTitle}" class="wide" id="name0">
                    등록된 상품이 없습니다.
                  </td>
                  <td th:text="${item.itemCnt}">-</td>
                  <td th:text="${item.itemStPrice}" class="less_wide">
                    시작가
                  </td>
                  <td>기한입찰</td>
                  <td
                    th:text="${#temporals.format(item.itemRegdate, 'yyyy-MM-dd HH:mm')}"
                    class="wide"
                  >
                    등록일
                  </td>
                  <!-- <th:block
                    th:if="${item.itemYn == 'Y' || item.itemYn.equals('Y')}"
                  >
                    <td class="sold">판매완료</td>
                  </th:block>
                  <th:block
                    th:if="${item.itemYn == 'N' || item.itemYn.equals('N')}"
                  >
                    <td class="sold">판매종료</td>
                  </th:block> -->
                  <td class="sold" th:if="${item.itemYn} == 'Y'">판매중</td>
                  <td class="sold" th:if="${item.itemYn} == 'N'">입찰종료</td>

                  <td></td>
                </tr>
              </table>
            </button>
          </h2>
          <div
            th:id="'collapse'+${item.itemNo}"
            class="accordion-collapse collapse"
            th:aria-labelledby="'heading_'+${item.itemNo}"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <div class="detail">
                <div class="imageArea">
                  <img
                    th:if="${item.itemFile ne null}"
                    th:src="@{/upload/} + ${item.itemFile.itemfileNm}"
                  />
                  <img
                    th:if="${item.itemFile eq null}"
                    th:src="@{/upload/noimg.png}"
                  />
                </div>
                <div th:text="${item.itemContent}" class="textArea">
                  100개 들었는데 3개 먹어서 97개 남아있습니다
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </main>
    <!--footer-->
    <footer></footer>

    <!-- 재입찰 모달 -->
    <div class="modal fade" id="intro">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">modal-title</h4>
          </div>
          <div class="modal-body">
            <table id="modal_table">
              <tr>
                <td><strong>상품명</strong></td>
                <td class="modal_table_input_right">
                  <input type="text" value="스마트폰" />
                </td>
              </tr>
              <tr>
                <td><strong>카테고리</strong></td>
                <td class="modal_table_input_right">
                  <select id="user_path">
                    <optgroup label="가전">
                      <option value="tv">TV/영상가전</option>
                      <option value="web">음향가전</option>
                      <option value="pc">생활가전</option>
                      <option value="pc">주방가전</option>
                      <option value="pc">계절가전</option>
                      <option value="pc">이미용가전</option>
                      <option value="pc">건강가전</option>
                    </optgroup>
                    <optgroup label="디지털">
                      <option value="fr">노트북/주변기기</option>
                      <option value="cf" selected>모바일/IT용품</option>
                    </optgroup>
                    <optgroup label="주방">
                      <option value="tv">조리용품</option>
                      <option value="web">그릇/홈세트</option>
                      <option value="pc">밀폐/저장용품</option>
                      <option value="pc">주방소모품</option>
                      <option value="pc">컵/잔/텀블러</option>
                    </optgroup>
                    <optgroup label="생활">
                      <option value="tv">가구/침구/홈데코</option>
                      <option value="web">베이비&키즈</option>
                      <option value="pc">제지류</option>
                      <option value="pc">세탁/욕실/청소</option>
                      <option value="pc">생활잡화</option>
                      <option value="pc">오피스/문구</option>
                      <option value="pc">반려용품</option>
                    </optgroup>
                    <optgroup label="뷰티/패션">
                      <option value="tv">스킨케어</option>
                      <option value="web">헤어/바디케어</option>
                      <option value="pc">메이크업</option>
                      <option value="pc">향수/캔들</option>
                      <option value="pc">패션잡화</option>
                    </optgroup>
                    <optgroup label="생활">
                      <option value="tv">가구/침구/홈데코</option>
                      <option value="web">베이비&키즈</option>
                      <option value="pc">제지류</option>
                      <option value="pc">세탁/욕실/청소</option>
                      <option value="pc">생활잡화</option>
                      <option value="pc">오피스/문구</option>
                      <option value="pc">반려용품</option>
                    </optgroup>
                    <option value="etc">기타</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td><strong>수량</strong></td>
                <td class="modal_table_input_right">
                  <input type="text" value="1" />
                </td>
              </tr>
              <tr>
                <td><strong>시작가</strong></td>
                <td class="modal_table_input_right">
                  <input type="text" value="700,000" />
                </td>
              </tr>
              <tr>
                <td><strong>즉시구매가</strong></td>
                <td class="modal_table_input_right">
                  <input type="text" value="800,000" />
                </td>
              </tr>
              <tr>
                <td><strong>경매방식</strong></td>
                <td class="modal_table_input_right">
                  <select>
                    <option selected>기한입찰</option>
                    <option>xx입찰</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td><strong>경매기간</strong></td>
                <td class="modal_table_input_right">
                  <select>
                    <option selected>24시간</option>
                    <option>48시간</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td><strong>배송방식</strong></td>
                <td class="modal_table_input_right">
                  <select>
                    <option selected>택배배송</option>
                    <option>직거래</option>
                  </select>
                </td>
              </tr>
            </table>
            <br />
            <p><strong>상기 내용으로 재등록 하시겠습니까?</strong></p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              id="rebidding_on"
              data-bs-dismiss="modal"
              class="btn btn-primary"
              style="background-color: rgb(18, 100, 100)"
              onclick="rebiddingCompleted()"
            >
              재입찰
            </button>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
              style="background-color: lightgray"
            >
              닫기
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Javascript 영역 -->
    <script>
      // const name = ['name0', 'name1', 'name2', 'name3', 'name4']

      $(function () {
        $(".rebidding").on("click", function () {
          console.log($(this).parent());
          $(".modal-title").text($("#name3").text());
          // $(".modal-body").text($("table[3]").text())
          // var lis = document.getElementsByTagName("table").getElementsByTagName("td")
          // alert(lis[3].textContent)
        });
      });

      // var lis = document.getElementsByTagName("table").document.getElementsByTagName("td")
      // alert(lis[0].textcontent)

      // 클래스 생성
      class Item {
        constructor(
          image,
          name,
          title,
          amount,
          price,
          bidType,
          regiDate,
          status,
          rebidding
        ) {
          this.image = image;
          this.name = name;
          this.title = title;
          this.amount = amount;
          this.price = price;
          this.bidType = bidType;
          this.regiDate = regiDate;
          this.status = status;
          this.rebidding = rebidding;
        }
      }

      var item1 = new Item(
        "#",
        "name",
        "selling",
        1,
        1000,
        "a",
        "2022 / 06 / 18",
        "ongoing"
      );
      $();

      function rebiddingCompleted() {
        alert("상품등록이 완료되었습니다.");
      }
    </script>
  </body>
</html>
