<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
	<head>
		<meta charset="UTF-8">
	    <title>검색결과</title>
	    		<th:block layout:fragment="script">
					<script>
						//상품 별 잔여시간 계산
							function restTime(e) {
					            var now = new Date();
					            var end = new Date($(e).attr("enddate"));
					
								var today = new Date().getTime();
					            var gap = end - today;
					            var day = (Math.ceil(gap / (1000 * 60 * 60 * 24)))-1;
					            var hour = Math.ceil((gap % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))-1;
					            var min = Math.ceil((gap % (1000 * 60 * 60)) / (1000 * 60))-1;
					            var sec = Math.ceil((gap % (1000 * 60)) / 1000);
					            
					            if (day >= 1) {
					                $(e).text("남은시간 : " + day + "일 " + hour + "시간 " + min + "분");
					            } else {
					                $(e).text("남은시간 : " + hour + "시간 " + min + "분 " + sec + "초");
					            }
					        }
					        $(function() {
					            setInterval(function(){
					                $(".timer").each(function(i,e){
										 restTime(e); 
						            })
						        },1000);
						        $("#sc_btn").on("click", function(){
									//$("input[name='page']").val('0');
									searchForm.submit();
								});
					        });
		            </script>
				</th:block>
	    <th:block layout:fragment="css">
	  		<link rel="stylesheet" th:href="@{/css/Ca_Se_In.css}">
	  	</th:block>
	</head>

<body>
         <!--header-->
    <header></header>
    <main layout:fragment="content">
        <div class="title">
            상품 검색
         </div>
        <!-- 검색 버튼 영역 -->
        <hr>
        <form id="searchForm" action="/item/search" method="get">
	        <div id="searchArea" style="text-align: center;">
	            <div id="searchBar">
	            <input type="hidden" name="page" value="">
	                <svg xmlns="http://www.w3.org/2000/svg" style=" color: rgba(17,100,100,1);" width="24" height="24"
	                    fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
	                    <path
	                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
	                </svg>
	                    <select class="form-select se_select" name="searchCondition">
	                        <option value="all" th:selected= "${searchCondition eq 'all'}">전체</option>
							<option value="title" th:selected= "${searchCondition eq 'title'}">제목</option>
							<option value="seller" th:selected= "${searchCondition eq 'seller'}">판매자</option>
							<option value="price" th:selected= "${searchCondition eq 'price'}">가격</option>
	                    </select>
	                <input type="text" name="searchKeyword" th:value="${searchKeyword}">
	                    <button id="sc_btn" type="button">Search</button>
	            </div>
	        </div>
        </form>
        <hr>
        <!-- 검색 결과 영역 -->
        <!--검색된 아이템 개수
        <div id="se_num">
            <svg xmlns="http://www.w3.org/2000/svg" style=" color: rgba(17,100,100,1);" width="24" height="24"
                fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
            <pre th:text="${#lists.size('Item')}"> 23건 </pre>
            <br><br>
        </div>-->
        <!-- 검색 결과 상품 리스트 -->
        <div id="se_List">
            <!--<div class="se_Info" id="se_Info">
                <a href="ProductInfo.html" th:href="@{/}">
                    <table id="se_Table">
                        <thead>
                            <tr class="tr_img">
                                <th colspan="2"><img src="/images/product01_1.jpg"  id="se_im" alt="아이폰14_1" ></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2"> 상품명 : 아이폰 14 - 256gb</td>
                            </tr>
                            <tr>
                                <td colspan="2">상품가격 : 850,000원</td>
                            </tr>
                            <tr>
                                <td style="border-right: 1px solid rgb(140, 140, 140);">입찰 수 2</td>
                                <td >조회 수 9</td>
                            </tr>
                            <tr>
                                <td colspan="2" >판매자ID : bitcamp</td>
                            </tr>
                            <tr>
                                <td colspan="2">남은시간 : 06일 21시간</td>
                            </tr>
                        </tbody>
                    </table>
                </a>
            </div>-->

            <div class="se_Info" id="se_Info" th:each="itemList : ${itemList1}">
                <a th:href="@{/item/searchItem/{itemNo} (itemNo=${itemList.itemNo})}">
                    <table id="se_Table">
                        <thead>
                            <tr>
                            	<th colspan="2">
                            		<img th:if="${itemList.itemFile ne null}" style="width: 330px; height: 220px;" th:src="@{/upload/} + ${itemList.itemFile.itemfileNm}" id="se_im" th:alt="${itemList.itemTitle} + '의 미리보기 사진'">
                            		<img th:if="${itemList.itemFile eq null}" style="width: 330px; height: 220px;" th:src="@{/upload/noimg.png}" id="se_im" th:alt="${itemList.itemTitle}">
                            	</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2" th:text="'상품명 : ' + ${itemList.itemTitle}"></td>
                            </tr>
                            <tr>
                                <td colspan="2" th:text="'상품가격 : ' + ${#numbers.formatInteger(itemList.itemStPrice, 0, 'COMMA')} + '원'">상품가격 : 000,000원</td>
                            </tr>
                            <tr>
                                <td style="border-right: 1px solid rgb(140, 140, 140);" th:text="'입찰 수 : ' + ${#numbers.formatInteger(itemList.itemBidCnt, 0, 'COMMA')}"></td>
                                <td th:text="'조회 수 : ' + ${#numbers.formatInteger(itemList.itemCnt, 0, 'COMMA')}"></td>
                            </tr>
                            <tr>
                                <td colspan="2" th:text="'판매자 : ' + ${itemList.user.userId}">판매자 : ㅕㅑㅠㅕㅠ</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="timer"  th:enddate="${itemList.itemEnddate}"></td>
                            </tr>
                        </tbody>
                    </table>
                </a>
            </div>
        </div>

        <!-- 검색결과 창 하단 버튼 -->
        <div id="page_btn">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group me-2" role="group" aria-label="Second group">
                    <div class="btn_page_side" th:with="pageNumber = ${itemList1.pageable.pageNumber},
												pageSize = 5,
												totalPages = ${itemList1.totalPages},
												startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize +1},
												tempEndPage = ${startPage + pageSize -1},
												endPage = ${tempEndPage > totalPages ? totalPages : tempEndPage}">
                        <button type="button" class="btn btn-outline-secondary btn_page" style="border: 0;" th:if="${pageNumber > 0}"><</button>
                        <div  th:each="page : ${#numbers.sequence(0, 2)}" th:remove="tag">
                       		<button type="button" class="btn btn-outline-secondary btn_page" th:href="@{/item/search(page=${page -1}, categoryNo = ${page.itemCategory.categoryNo})}" th:value="${page}">1</button>
                        </div>
                        <button type="button" class="btn btn-outline-secondary btn_page" style="border: 0;"  th:if="${pageNumber < totalPages -1}">></button>
                    </div>
                </div>
            </div>
        </div>
    </main>
 <!--footer-->
 <footer></footer>

</body>

</html>