<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/dtd/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.koction.mapper.ItemMapper">
	<select id="getNextItemNo" resultType="int">
	<![CDATA[
		SELECT IFNULL(MAX(ITEM_NO), 0) + 1
			FROM T_ITEM
	]]>
	</select>

	<select id="getNextItemqNo" resultType="int">
		<![CDATA[
		SELECT IFNULL(MAX(ITEMQ_NO), 0) + 1
			FROM T_ITEMQ
	]]>
	</select>
	<select id="getNextOrderNo" resultType="int">
		<![CDATA[
		SELECT IFNULL(MAX(ORDER_NO), 0) + 1
			FROM T_ORDER
	]]>
	</select>
	<update id="updateItemNo" parameterType="int">
	<![CDATA[
		UPDATE T_ITEM
		SET ITEM_NO = ITEM_NO -1
		WHERE ITEM_NO > #{itemNo}
	]]>
	</update>


	<update id="updateItemqNo" parameterType="int">
		<![CDATA[
		UPDATE T_ITEMQ
		SET ITEMQ_NO = ITEMQ_NO -1
		WHERE ITEMQ_NO > #{itemqNo}
	]]>
	</update>

	
	<update id="updateItemCnt" parameterType="int">
	<![CDATA[
		UPDATE T_ITEM
			SET ITEM_CNT = ITEM_CNT + 1
			WHERE ITEM_NO = #{itemNo}
	]]>
	</update>

	<update id="updateBidCnt" parameterType="int">
		<![CDATA[
		UPDATE T_ITEM
			SET ITEM_BID_CNT = ITEM_BID_CNT + 1
			WHERE ITEM_NO = #{itemNo}
	]]>
	</update>

	<update id="updateUserPw" parameterType="user">
	<![CDATA[
		UPDATE T_USER
		SET USER_PW = #{userPw}
		WHERE USER_ID LIKE #{userId}
	]]>
	</update>
	
	<select id="hotProcSort" resultType="item">
	<![CDATA[
		SELECT *
		FROM T_ITEM 
		WHERE ITEM_ENDDATE > NOW()
		ORDER BY ITEM_CNT DESC
		LIMIT 3
	]]>
	</select>
	
	<select id="endProcSort" resultType="item">
	<![CDATA[
		SELECT *
		FROM T_ITEM
		WHERE ITEM_ENDDATE > NOW()
		ORDER BY ITEM_ENDDATE DESC
		LIMIT 3
	]]>
	</select>
	

</mapper>